<style>
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
        margin-top: 20px;
    }
</style>

<div>
    <section  id="contact" style="margin-top: 30px;">
                    <div class="container" >
                        <div class="contact__wrapper shadow-lg mt-n9">
                            <div class="row no-gutters">
                                

                                <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                                    <form action="" id="contact-form" encType="multipart/form-data"  class="contact-form form-validate" novalidate="novalidate" method="post">
                                        <div class="row">
                                            
                                            <div class="col-sm-12 mb-3">
                                                <div class="form-group">
                                                    <label class="required-field" for="image">Image</label> &nbsp;&nbsp;&nbsp;
                                                    <input type="file" class="image" id="image" name="image" />
                                                </div>
                                            </div>

                                            <div class="col-sm-12 mb-3 button1">
                                                <button type="submit" class="btn btn-primary ">Submit</button>
                                            </div>

                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </section>
</div>